.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
}

.todolist {
  flex-grow: 1;
}

.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}
